* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.6;
  position: relative;
}

.short-line {
  width: 95%;
  margin: 20px auto 5px auto;
  border: 1px solid #ccc;
}
